button{
    background-color: #6423f1;
    border: 1.5px solid #b99dff;
    color: white;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 0.9rem;
    font-family: 'Poppins';
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    box-shadow: 1px 3px 5px #6423f1;
    transition: 0.4s ease, 0.4s ease;
}
button:hover{
    transform: translateY(-0.5rem);
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:80vh;
    gap: 2rem;
}
